@layer reset, font, base, layout, component, utilities;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body, 
    h1,
    h2,
    h3,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    [role="list"] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    html, body {
        height: 100%;
        line-height: 1.6;
    }

    h1,
    h2,
    h3,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
    h2,
    h3 {
        text-wrap: balance;
    }

    p,
    li {
        text-wrap: pretty;
    }

    img,
    picture {
        max-width: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }
}
@layer font {
    @font-face {
        font-family: 'Raleway';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src:url('../assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
            url('../assets/fonts/raleway-regular-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Raleway';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('../assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
             url('../assets/fonts/raleway-medium-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('../assets/fonts/raleway-semibold-webfont.woff2') format('woff2'),
            url('../assets/fonts/raleway-semibold-webfont.woff') format('woff');
    }

    @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('../assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
            url('../assets/fonts/raleway-extrabold-webfont.woff') format('woff');
    }
}

@layer base {
    :root {
        box-sizing: border-box;
        --clr-gray-900: #313235;
        --clr-gray-700: #60666C;
        --clr-gray-500: #949A9C;
        --clr-gray-300: #C9CECF;
        --clr-gray-100: #F2F3F3;

        --clr-white: #F2F3F3;

        --clr-blue-500: #6868D9; 
        --clr-pink-700: #C5295D;

        --clr-primary-accent: var(--clr-blue-500);
        --clr-secondary-accent: var(--clr-pink-700);
        --clr-dark: var(--clr-gray-900);
    

        --fs-24: 1.5rem;
        --fs-16: 1rem;
        --fs-14: 0.875rem;

        --font-size-sm: var(--fs-14);
        --font-size-normal: var(--fs-16);
        --font-size-lg: var(--fs-24);
        
        --ff-body: "Raleway", sans-serif;
    }

    body {
        font-size: var(--font-size-normal);
        font-family: var(--ff-body);
        color: var(--clr-dark);
    }
}

@layer layout{
    .wrapper{
        width: min(1378px, 100% - 2 * 16px);
        max-width: 1378px;
        margin: auto;
    }
   

    /* header-main-nav */

    .flex-grid {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

    }

    .flex-two-columns {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-size, 20px);
    }
    
    .sidebar {
        /* flex-basis: 20%; */
        /* border: 1px solid blue; */
        flex-basis: 248px; 
    }
    .main-content {
        /* border: 1px solid black; */
        /* flex-basis: 80%; */
       /* flex-grow: 1; */
       flex: 1;

    }

    
}

@layer component {

     /* header-top */
     .header-top-flex {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    .align-left {
        margin-right: auto;
    }

    .align-center {
        margin: auto;
    }

    .header-top{
        background-color: var(--clr-dark);
        color: var(--clr-gray-300);
        font-size: var(--font-size-sm);
        padding-block: 4px;
        
        & a {
            text-decoration: none;
            color: inherit;
        }

        & button {
            border: none; 
            background-color: transparent;

        }
    }

    .header-search {
        position: relative;
    }

    .search-icon {
        display: block;
        width: 16px;
        height:16px;
        position: absolute;
        top: 5px;
    }

    .search-input {
        padding-left: 24px;
        font-size: var(--font-size-sm);
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--clr-gray-300);
        outline-offset: 4px;
    }

    .search-input::placeholder {
        color: var(--clr-gray-500);
    }

    .basket-icon {
        width: 24px;
        height: 24px;
    }

    .basket-icon svg {
        stroke: var(--clr-gray-300)
    }

    /* header-main-nav */
    .main-nav{
        border-bottom: 1px solid var(--clr-gray-300);
        & a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: var(--clr-blue-500);
            }
        }
    }

    .main-container {
        flex-direction: row-reverse;
        --gap-size: 32px;
    }

    .main-nav-flex {
        display: flex;
        align-items: center;
        padding-block: 0.8rem;
    }


    .logo {
        margin-right: auto;
        font-size: var(--font-size-lg);
        font-weight: 800;
    }

    .flex-grow-space {
        flex: 1;
    }

    .main-nav-list {
        display: flex;
        gap: 48px;
        margin-inline: 48px;
        font-weight: 600;
        
    }

    /* aside */
    .breadcrumbs-list {
        display: flex;
        font-size: var(--font-size-sm);

        & a {
            color: inherit;
            text-decoration: none;
        }
        & svg {
            width: 16px;
            height: 16px;
            stroke: var(--clr-gray-700);
            vertical-align: middle;
        }

        
    }

    .categories-list {
        /* padding-top: 20px; */
        .categories-item {
            padding-bottom: 10px;
        }
        & a {
            text-decoration: none;
            color: inherit;
            font-weight: 600;

            &:hover {
                color:var(--clr-pink-700);
            }
        }
    }

    /* main */
    .site-title {
        font-size: var(--font-size-lg);
        font-weight: 600;
    }

    .product-filter {
        & label{
            font-weight: 500;
            color: var(--clr-gray-700);
            
        }
        & .product-select-btn-container {
            position: relative;
        }
        & select {
            border: none;
            font-weight: 600;
            padding: 10px 40px 10px 20px;
            border-radius: 5px;
            background-color: var(--clr-gray-100);
            appearance: none;
            cursor: pointer;
        }

        .select-arrow {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            pointer-events: none;
            /* border: 1px solid black; */
            & svg {
               vertical-align: middle;
            }
        }

    }

    /* product-card */
    .product-cards-list a{
        text-decoration: none;
        color: inherit;
    }

    .product-card-item {
        flex: 1 1 300px;
        position: relative;
        margin: 5px;
        .product-card-tag {
           /* border: 1px solid black; */
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: var(--font-size-sm);
            background-color: var(--clr-tag, red);
            padding: 5px 8px;
        }

        [data-tag="just-released"] {
            --clr-tag:var(--clr-blue-500);
        }

        [data-tag="sale"] {
            --clr-tag: var(--clr-pink-700);
        }

        .product-card-image {
            width: 100%;
            aspect-ratio: 3/2;

            img {
                width: 100%;
                height:100%;
                object-fit: cover;
            }
        } 
        .product-card-details {
            padding-block: 16px;
            /* justify-content: space-between; */
            font-weight:600;
        }

        .product-card-color {
            font-weight: 500;
            color: var(--clr-gray-700);
        }

        .product-card-price-container {
            font-weight: 500;
            
            
            &.flex-two-columns {
                align-items: flex-end;
            }
            & .product-card-price {
                --card-price-color: var(--clr-gray-700);
                color: var(--card-price-color, black);
            }
            & .discounted{
                --card-price-color: var(--clr-pink-700);
            }
        }

        .product-card-details > .flex-two-columns {
            flex-direction:column;
            --gap-size: 0px;

        }  
    }

}

@layer utilities {
    .align-baseline {
        align-items: baseline;
    }
    .padding-block-10 {
        padding-block: 10px;
    }
    .padding-block-16 {
        padding-block: 16px;
    }
    .padding-block-20 {
        margin-block: 20px;
    }

    .padding-block-30 {
        margin-block: 30px;
    }
}
