@layer reset, font, base, layout, component, utility;

@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    * {
        margin: 0;
        padding: 0;
    }

    img,
    svg {
        display: block;
    }

    img {
        width: 100%;
    }

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
        text-rendering: optimizeSpeed;
        line-height: 1.6;
    }

    p,
    li {
        text-wrap: pretty;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        overflow-wrap: break-word;
    }

    [role="list"] {
        list-style: none;
    }
}

@layer font {
    @font-face {
        font-family: "Open Sans";
        src: url("../assets/fonts/opensans-light-webfont.woff2") format("woff2"),
            url("../assets/fonts/opensans-light-webfont.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Open Sans";
        src: url("../assets/fonts/opensans-regular-webfont.woff2") format("woff2"),
            url("../assets/fonts/opensans-regular-webfont.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Open Sans";
        src: url("../assets/fonts/opensans-semibold-webfont.woff2") format("woff2"),
            url("../assets/fonts/opensans-semibold-webfont.woff") format("woff");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
}

@layer base {
    :root {
        box-sizing: border-box;

        --fs-10: 0.625rem;
        --fs-13: 0.8125rem;
        --fs-14: 0.875rem;
        --fs-15: 0.9375rem;
        --fs-16: 1rem;
        --fs-18: 1.125rem;
        --fs-20: 1.25rem;
        --fs-24: 1.5rem;
        --fs-30: 1.875rem;
        --fs-36: 2.25rem;
        --fs-48: 3rem;

        --clr-pink-7: #eb3065;
        --clr-pink-8: #e0217a;
        --clr-grey-1: #faf9f9;
        --clr-grey-2: #f4f2f2;
        --clr-grey-3: #f0eeee;
        --clr-grey-4: #ccc;
        --clr-grey-7: #999;
        --clr-grey-8: #777;
        --clr-grey-10: #333;
        --clr-blue-10: #2F2B42;
        --shadow-dark: 0 4px 10px rgba(0, 0, 0, 0.1);
        --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

        --line: 1px solid var(--clr-grey-4);

    }

    input,
    select,
    button,
    textarea {
        font: inherit;
    }

    body {
        /* background-image: linear-gradient(#f369aa, #C17BDE); */
        background-color: var(--clr-grey-2);
        font-family: "Open Sans", serif;
        font-size: var(--fs-16);
        color: var(--clr-grey-8);
    }
}

@layer layout {
    .wrapper {
        /* max-width: 1200px; */
        width: min(1400px, 100% - 2 * 30px);
        margin-inline: auto;

    }
}

@layer component {

    /***************
        header
     **************/
    /*top nav*/
    .top-nav__container {
        height: 4rem;
        --flex-pair-gap: 20px;
    }

    .logo {
        & img {
            width: 48px;
            object-fit: cover;
        }
    }


    /*form*/
    .search-container {
        flex: 0 0 70%;
        margin-inline: auto;

    }

    .search__input {
        padding: 6px 26px;
        border: 1px solid var(--clr-grey-4);
        background-color: var(--clr-grey-3);
        border-radius: 100px;
        font-size: 13px;
        width: 80%;
        margin-right: -60px;
        transition: width 500ms;

        &:focus {
            outline: none;
            background-color: var(--clr-grey-2);
            width: 100%;
        }

        &::placeholder {
            color: var(--clr-grey-4);
        }
    }

    .search__button {
        border: none;
        background-color: transparent;

        & .search__icon {
            width: 20px;
            height: 20px;
            fill: var(--clr-pink-8);
        }

        &:active {
            transform: translateY(2px);
        }
    }

    /* user menu */
    .user-container {
        align-self: stretch;
        --flex-pair-gap: 0px;
    }

    .user__item {
        font-weight: 600;
        border: none;
        background-color: transparent;
        color: inherit;
        position: relative;
        padding-inline: 16px;
        display: flex;
        align-items: center;

        & svg {
            width: 23px;
            height: 23px;
            fill: currentColor;
        }

        & .notification {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 18px;
            height: 18px;
            font-size: var(--fs-10);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-weight: 600;
            color: #fff;
            background-color: var(--clr-pink-8);
        }

        & .user-image {
            width: 40px;
            border-radius: 50%;
        }

        &.user__profile {
            --flex-pair-gap: 16px;
        }

        & .user-name {
            font-size: var(--fs-13);
            /* text-shadow: var(--shadow-dark); */

        }

        &:hover {
            background-color: var(--clr-grey-3);
        }
    }

    /*main-nav*/
    .main-nav-item {
        flex: 1;

    }

    .main-nav-item__link {
        position: relative;
        justify-content: center;
        align-items: baseline;
        --flex-pair-gap: 16px;
        padding-block: 16px;
        text-decoration: none;
        color: #fff;

        & svg {
            width: 25px;
            height: 17px;
            fill: currentColor;
        }
    }

    & .main-nav-item__link::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background-color: var(--clr-pink-8);
        transform: scaleY(0);
        transition: transform 150ms, width 300ms cubic-bezier(.81, -0.01, .39, 1) 200ms;

    }

    & .main-nav-item__link:hover::after,
    & .main-nav-item__link--active::after {

        transform: scaleY(1);
        width: 100%;
    }

    & .main-nav-item__link>* {
        position: relative;
        z-index: 10;
    }

    /***************
        main
     **************/

    /* hero section */
    .main-title {
        font-size: var(--fs-24);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .stars {
        margin-right: auto;

        & svg {
            width: 20px;
            height: 20px;
            fill: var(--clr-pink-8);
        }
    }

    .location {
        padding: 10px 40px;

        & svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
        }

        & a {
            font-size: var(--fs-14);
            text-decoration: none;
            color: var(--clr-pink-8);
            font-weight: 400;


            .location__text {
                border-bottom: 1px solid currentColor;
                padding-bottom: 2px;
            }
        }

        & a:hover {
            color: var(--clr-grey-10);
        }
    }

    .ratings {
        background-color: var(--clr-pink-8);
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        padding: 10px 20px;
    }

    .ratings-total {
        font-size: var(--fs-10);
    }

    /*description*/
    /* .content-section {
        align-self: flex-start;
    } */
    .description {
        box-shadow: var(--shadow-light);
        /* align-self: flex-start; */
    }

    .description__list {
        display: flex;
        flex-wrap: wrap;
        border-top: var(--line);
        border-bottom: var(--line);
    }

    .description__item {
        margin-inline: auto;
        flex: 0 0 40%;
        --flex-pair-gap: 10px;
        line-height: 2;
    }


    .description__item::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: var(--clr-pink-8);
        /* background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("../assets/images/chevron-thin-right.svg"); */
        mask-image: url("../assets/images/chevron-thin-right.svg");
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
    }

    .description-images {
        --flex-pair-gap: 0px;
    }

    .description-image {
        width: 60px;
        border-radius: 50%;
        border: 3px solid #fff;

        & img {
            border-radius: 50%;
        }
    }

    .description-image:not(:last-child) {
        margin-right: -15px;
    }


    /* testimonials*/
    .testimonials {
        padding: 0 0 40px 40px;
    }

    .testimonial__container {
        padding: 45px 35px;
        font-size: var(--fs-14);
        margin-bottom: 35px;
        box-shadow: var(--shadow-light);
    }

    .testimonial__quote {
        padding-bottom: 35px;
    }

    .testimonial__author {
        --flex-pair-gap: 20px;

        & img {
            width: 60px;
            border-radius: 50%;
        }

        & .author__data {
            margin-right: auto;
            font-size: var(--fs-10);
        }

        & .author__name {
            text-transform: uppercase;
            margin-bottom: 5px;
            color: var(--clr-grey-10);
        }

        & .author__rating {
            font-size: var(--fs-20);
            color: var(--clr-pink-8);
        }
    }

    .testimonials__link {
        text-decoration: none;
        color: var(--clr-pink-8);
        --flex-pair-gap: 10px;
        justify-content: center;
    }

    /*cta-section*/
    .cta-section {
        text-align: center;
        box-shadow: var(--shadow-light);

        & p {
            font-size: var(--fs-24);
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        & .btn {
            text-transform: uppercase;
            font-size: var(--fs-18);
            border: 1px solid #e0217a;
            background-color: var(--clr-pink-8);
            ;
            background-image: linear-gradient(to left, #e0217a, #ff5e9c);
            padding: 20px 75px;
            border-radius: 100px;
            color: #fff;

        }
    }
}


@layer utility {
    .flex-align-center {
        align-items: center;
    }

    .flex-group {
        display: flex;
        justify-content: space-between;
    }

    .flex-pair {
        display: flex;
        gap: var(--flex-pair-gap, 0px);
    }

    .margin-top-35 {
        margin-top: 35px;
    }

    .padding-inline-40 {
        padding-inline: 40px;
    }

    .padding-block-16 {
        padding-block: 16px;
    }

    .padding-block-20 {
        padding-block: 20px;
    }

    .padding-block-30 {
        padding-block: 30px;
    }

    .padding-block-40 {
        padding-block: 40px;
    }

    .padding-block-60 {
        padding-block: 60px;
    }

    .bg-light {
        background-color: var(--clr-grey-1);
    }

    .bg-dark {
        background-color: var(--clr-grey-10);
    }

    .bg-gray {
        background-color: var(--clr-grey-3);
    }
}